#auctionForm{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 0;
    gap: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

body{
    display: flex;
    justify-content: center;
}